.dropdown {
  display: inline-block;
  position: relative;

  &__btn {
    position: relative;
    background: white none;
    border: 1px solid #ccc;
    padding: 0.5rem 1.5rem;
    outline: none!important;
  }
  &__filter {
    position: absolute;
    top: 100%;
    width: 250px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 0.5rem 1.5rem;
  }
  @at-root .dropdown.dropdown--open &__btn {
    z-index: 10;
    border-bottom-width: 0;
    padding-bottom: 1rem;
  }
  @at-root .dropdown.dropdown--open:last-child &__filter {
    right: 0;
  }
  @at-root .dropdown.dropdown--open &__filter {
    z-index: 5;
  }
  @at-root .dropdown.dropdown--closed &__filter {
    display: none;
  }
}