* {
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
}
.home__filter {
  display: flex;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  justify-content: space-around;
}
.ustilet {
  list-style: none;
  padding-left: 0;
}